@font-face {
    font-family: 'Kumbh Sans';
    src: url(fonts/KumbhSans-VariableFont_wght.ttf);
}

body {
    font-family: 'Kumbh Sans';
    margin: 0;
    background-color: hsl(185, 75%, 39%);
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position-x: -16vw, 48vw;
    background-position-y: -70vh, 52vh;
}

.profile-card {
    background-color: white;
    height: 370px;
    width: 350px;
    margin:  12% auto;
    border-radius: 15px;
    box-shadow: 7px 15px 35px -20px hsl(229deg 23% 23%);
}

.card-top {
    height: 36%;
    width: 350px;
    background-image: url("images/bg-pattern-card.svg");
    border-radius: 15px 15px 0 0;
}

.card-middle {
    height: 40%;
    width: 350px;
    background-color: white;
}

.card-image {
    border-radius: 50%;
    position: relative;
    border: 5px solid white;
    margin: auto;
    display: block;
    top: -35%;
    background-color: white;
}

.name {
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    text-align: center;
    top: -35%;
    position: relative;
}

.age {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.city {
    font-size: 14px;
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    text-align: center;
    top: -40%;
    position: relative;
}

.card-bottom {
    width: 350px;
    height: 24%;
    border-top: 1px solid hsl(0deg 0% 59% / 30%);
}

.bottom {
    width: 85%;
    height: 24%;
    margin: 0 auto;
}